html,
body {
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0;
}
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"],
textarea {
  outline: none;
  border: 1px solid #aaa;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 7px #1abc9c;
  border: 1px solid #1abc9c;
}
.login_form .container {
  margin: 50px auto 0;
}
.login_form .description {
  text-align: center;
  font-size: 1.7em;
}
.inner {
  width: 40%;
  padding: 30px 15px;
  box-shadow: 1px 3px 12px #a1a1a1;
  border-radius: 15px;
  margin: 50px auto;
}
.inner_content {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  margin: 0 auto;
  width: 60%;
}
.inner_content input[type="text"],
input[type="password"],
textarea {
  padding: 2px 14px;
  border: 1px solid #636b6faa;
  border-radius: 2px;
}
.submit_content {
  width: 50%;
  margin: 24px auto;
}
.submit_content .submit {
  width: 100%;
  background-color: #45a199aa;
  border-radius: 5px;
  color: white;
  padding: 7px 14px;
  text-align: center;
}
.sorry_container {
  font-size: 0.8em;
  margin: 120px 20px;
}
.pickup {
  font-weight: 400;
}
a {
  color: #3daaa1aa;
}
.header {
  width: 85%;
  margin: 80px auto 0;
}
.header .header_title {
  font-size: 3.7em;
}
.header a {
  font-size: 1.7em;
  font-weight: 400;
  color: #3daaa1aa;
}
.insta_service_forms .wrapper {
  display: flex;
  margin: 0 auto;
}
.insta_service_forms .wrapper .container {
  width: 60%;
  margin-top: 50px;
  margin-left: 120px;
  padding: 30px 15px;
  box-shadow: 1px 3px 12px #a1a1a1;
  border-radius: 15px;
}
.insta_service_forms .wrapper .container .inner {
  display: flex;
  margin: 0 auto;
}
.insta_service_forms .wrapper .container .form_wrapper {
  display: flex;
  border-radius: 15px;
  padding: 12px;
  border: 3px solid #dddddd;
  margin-bottom: 20px;
}
.insta_service_forms .wrapper .user_content_view {
  font-family: 'HKGrotesk';
  padding: 0 20px;
  font-size: 1.2em;
}
.insta_service_forms .wrapper .user_content_view .btn-primary {
  margin: 0 12px;
}
.insta_service_forms .form_lebel {
  font-weight: 400;
  font-size: 2em;
}
.insta_service_forms .form_group {
  display: flex;
  margin: 0 0 0 auto;
}
.insta_service_forms .form_group .form-control {
  line-height: 100%;
  display: inline;
  margin: 0 12px;
  border-radius: 10px;
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
  padding: 21px 7px;
}
.insta_service_forms .form_group .btn-primary {
  height: 42px;
  width: 24%;
  margin-left: 7px;
}
.unimplemented .container {
  background-color: #f6f6f6;
}
.container #gn-menu {
  border-bottom: 1px solid #c6d0da;
}
.li_icon {
  margin-left: 12px;
  margin-right: 12px;
}
.logout_icon {
  position: absolute;
  top: 200px;
  margin-left: 22px;
}
.li_title {
  position: absolute;
  display: inline;
  margin-left: 50px;
}
.logout_title {
  position: absolute;
  margin-left: 60px;
}
.log_container {
  margin: 50px 0 20px;
}
.log_container ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.log_container .log_viewer_title {
  font-size: 2.3em;
  margin-bottom: 20px;
}
.log_container .log_viewer {
  padding: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  max-height: 300px;
  overflow: scroll;
  background-color: #f8f8f8;
  border: 1px solid #636b6faa;
  border-radius: 16px;
}
.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * 0.8) * 2);
  border-radius: calc(2.375rem * 0.8);
  height: calc(2.375rem * 0.8);
  line-height: calc(2.375rem * 0.8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * 0.8) * 2) + 0.5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * 0.8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * 0.8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * 0.8) - calc(2px * 2));
  height: calc(calc(2.375rem * 0.8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #08d;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * 0.8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * 0.8) * 2);
  height: calc(1.9375rem * 0.8);
  line-height: calc(1.9375rem * 0.8);
  text-indent: calc(calc(calc(1.9375rem * 0.8) * 2) + 0.5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * 0.8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
  height: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * 0.8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * 0.8) * 2);
  height: calc(3rem * 0.8);
  line-height: calc(3rem * 0.8);
  text-indent: calc(calc(calc(3rem * 0.8) * 2) + 0.5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * 0.8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * 0.8) - calc(2px * 2));
  height: calc(calc(3rem * 0.8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * 0.8);
}
.switch + .switch {
  margin-left: 1rem;
}
body {
  padding: 1rem;
}
.dropdown-menu {
  margin-top: 0.75rem;
}
.action_view {
  margin: 50px 0;
}
.action_view .even {
  background-color: #f6f7fa;
}
.action_view .contents {
  width: 100%;
  padding: 20px 40px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.action_view .contents .user_content {
  width: 100%;
  margin-bottom: 20px;
}
.action_view .contents .user_content .username {
  font-weight: 700;
}
.action_view .contents .user_content .icon {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
}
.action_view .contents .user_content .action {
  margin-left: 20px;
  margin-top: -4px;
  line-height: 20px;
}
.action_view .contents .img_content .img {
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  border-radius: 30px;
}
