<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insta Util Service</title>
    {# font-awesome等、ローカルに落とすように #}
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/normalize.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/component.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="{% static 'vendor/css/PNotifyBrightTheme.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'vendor/js/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/js/modernizr.custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/js/gnmenu.js' %}"></script>
    {# <script type="text/javascript" src="{% static 'vendor/js/PNotify.js' %}"></script> #}
    {# <script type="text/javascript" src="{% static 'vendor/js/PNotifyButtons.js' %}"></script> #}

</head>

<body>
    <main>
        {% load useragent_utils %}
        {% if request|is_pc  %}
            {% block content %}
            {% endblock %}
        {% else %}
        <div class="container">
            <div class="sorry_container">
                <h1 class="title">Sorry</h1>
                <p>このサイトはモバイルデバイスでは閲覧できません、デスクトップブラウザでの閲覧をお願いします。 </p>
                <div class="pickup">
                    <p>This site is not viewable in mobille device.
                        <br> Please visit with desktop browser. </p>
                </div>
            </div>
        </div>
        {% endif %}
    </main>
</body>

</html>