{% extends 'base.html.j2' %}

{% block content %}
{% load crispy_forms_tags %}

<div class="login_form">
    <div class="container">
        <div class="description">
            Login to in Insta Util Service
        </div>
        <div class="inner justify-content-center">
            <div class="inner_content">
                <form method="post">
                    {% csrf_token %} {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">submit</button>
                </form>
	        </div>
        </div>
    </div>
</div>

{% endblock %}
