{% extends 'base.html.j2' %}

{% block content %}
{% include 'nav.html.j2' %}

<div class="action_view">
    <div class="container">
        <h2>アクションログ</h2>
        {% for a in action %}
            <div class="contents {{ forloop.counter|divisibleby:2|yesno:'even,odd' }}">
                <div class="user_content">
                    <img class="icon" src="{{a.user_img_url}}">
                    <a class="username" href="{{a.url}}">{{a.user}}</spen>
                    <spen class="action btn btn-info btn-sm">いいね</spen>
                </div>
                <a class="img_content" href="{{a.post_url}}">
                    <img class="img" src="{{a.img_url}}">
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
