{% extends 'base.html.j2' %}

{% block content %}
{#
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#demoNormalModal">
    </button>
#}
<div class="modal fade" id="demoNormalModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="demoModalTitle">確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            {# 
                ハッシュタグの削除ボタンが押された段階でハッシュタグのID控えておいて
                ダイアログのOKが押された段階でIDを載せてリクエストを飛ばす
                ここのメッセージを動的に替える
             #}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary">削除</button>
            </div>
        </div>
    </div>
</div>

{% include 'nav.html.j2' %}

<header class="header">
    <div class="header_title">Instagram Util Services</div>
    <div class="current">
        <a target="_blank" href="https://www.instagram.com/{{ request.session.username }}/" class="insta_btn">
            <i class="fab fa-instagram"></i>
            {{ request.session.username }}
        </a>
    </div>
</header>
<!-- /header -->

<div class="insta_service_forms">
    <div class="wrapper">
        <div class="container">
            <div class="form_wrapper">
                <div class="form_lebel">ハッシュタグを追加</div>
                <form class="form_group" method="post" action="/add_hashtag">
                    {% csrf_token %}
                    <input class="form-control" name="hashtag" type="text" id="focusedInput" placeholder="ハッシュタグを入力">
                    <button type="submit" class="btn btn-primary">送信</button>
                </form>
            </div>
            <div class="user_content_view">
                {% for hashtag in hashtags %} 
                    <a target=”_blank” href="https://www.instagram.com/explore/tags/{{hashtag.tagname}}/?hl=ja">
                        #{{ hashtag.tagname }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- /insta_service_forms -->

<div class="insta_service_forms unimplemented">
    <div class="wrapper">
        <div class="container">
            <div class="form_wrapper">
                <div class="form_lebel">コメントを追加</div>
                <form class="form_group" method="post" action="/add_hashtag">
                    {% csrf_token %}
                    <input class="form-control" name="comment" type="text" id="focusedInput" placeholder="コメントを入力">
                    <button type="submit" class="btn btn-primary">送信</button>
                </form>
            </div>
            <div class="user_content_view">
            </div>
        </div>
    </div>
</div>
<!-- /insta_service_forms -->

<div class="insta_service_forms">
    <div class="wrapper">
        <div class="container">
            <div class="form_wrapper">
                <div class="form_lebel">自動いいね</div>
                    <form class="form_group" method="post">
                        <span class="switch switch-lg">
                            <input type="checkbox" class="switch autolike" id="autolike" data-checked="{{ autolike }}">
                            <label for="autolike"></label>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->

<div class="insta_service_forms unimplemented">
    <div class="wrapper">
        <div class="container">
            <div class="form_wrapper">
                <div class="form_lebel">フォローバック</div>
                    <form class="form_group" method="post">
                        <span class="switch switch-lg">
                            <input type="checkbox" class="switch autolike" id="followback" data-checked="{{ autolike }}">
                            <label for="followback"></label>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->

<div class="insta_service_forms unimplemented">
    <div class="wrapper">
        <div class="container">
            <div class="form_wrapper">
                <div class="form_lebel">自動フォロー</div>
                    <form class="form_group" method="post">
                        <span class="switch switch-lg">
                            <input type="checkbox" class="switch autolike" id="autofollow" data-checked="{{ autolike }}">
                            <label for="autofollow"></label>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->

{% load static %}
<script type="text/javascript" src="{% static 'js/bundle.js' %}"></script>

{% endblock %}
