{#
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#demoNormalModal">
    </button>
#}
<div class="modal fade" id="demoNormalModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="demoModalTitle">確認</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            {# 
                ハッシュタグの削除ボタンが押された段階でハッシュタグのID控えておいて
                ダイアログのOKが押された段階でIDを載せてリクエストを飛ばす
                ここのメッセージを動的に替える
             #}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                <button type="button" class="btn btn-primary">削除</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <ul id="gn-menu" class="gn-menu-main">
        <li>
            <a>TableCell Inc.</a>
        </li>
        <li>
            <a href="{{ request.session.username }}">Home</a>
        </li>

        <li class="gn-trigger">
            <a class="gn-icon gn-icon-menu">
                <span>Menu</span>
            </a>
            <nav class="gn-menu-wrapper">
                <div class="gn-scroller">
                    <ul class="gn-menu">
                        <li class="gn-search-item">
                            <input placeholder="検索" type="search" class="gn-search">
                            <a class="gn-icon gn-icon-search">
                            </a>
                        </li>
                        <li>
                            <a class="gn-icon gn-icon-cog">一般設定</a>
                        </li>
                        <li>
                            <a class="gn-icon gn-icon-help">使用方法</a>
                        </li>
                        <li class="logout">
                            {% load static %}
                            <a class="gn-icon" href="/logout">
                                <object width="0px" height="0px"></object>
                                <p class="logout_title li_title">ログアウト</p>
                                <object class="logout_icon li_icon" data="{% static 'vendor/fonts/ecoicons/logout.svg' %}" width="20px" height="20px"></object>
                            </a>
                        </li>
                        <li class="logs">
                            <a class="gn-icon" href="/logs">
                                <object width="0px" height="0px"></object>
                                <p class="li_title">各種ログ</p>
                                <object class="li_icon" data="{% static 'vendor/fonts/ecoicons/log.svg' %}" width="20px" height="20px"></object>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /gn-scroller -->
            </nav>
        </li>
    </ul>
</div>
<script type="text/javascript">
    new gnMenu(document.getElementById('gn-menu'));
</script>
<!-- /container -->
